body{
	background: white;
	margin: 0;	
}
#header{
	border-bottom-style: solid;
	border-width: 1px;
}

#nav-1{
	overflow: hidden;
	padding: 0;
}

#nav-1 a {
	float: left;
	color: black;
	text-align: center;
	padding: 2%;
	text-decoration: none;
	font-size: 2em;
}
#nav-1 a:hover{
	background-color: #ddd;
	color: black;
}
#imgNav{
	width: 4.5em;
	height: 4.5em;
	padding-left: .1em;
	padding-top: .1em;
	float: left;
	
}
#WebName{
	float: right;
	padding-top: .5em;
	margin-top: 1%;
	margin-right: 5%;
	font-size: 2em;
	
}
#btnLogin{
	margin-left: 75%;
	margin-top: 2%;
	padding: 1em 2em;
	background-color: #fc5203;
	border: none;
	color: white;
	text-align: center;
	border-radius: .5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
